.Item {
    background: #FFFFFF;
    float: left;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    margin-right: 18px;
    margin-top: 18px;
    padding: 0;
    transition: all 0.2s ease-in;
    position: relative;
    transform: translateY(0px);
    border: none;
}

.Item:hover {
    transform: translateY(-10px);
    background: linear-gradient(180deg, rgba(35, 34, 34, 0.4) 0%, #2e2d2d 200%);
    cursor: pointer;
}

.Item-text {
    margin-top: 0px;
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s;
    transform: translateY(0);
}

.Item:hover .Item-text {
    transform: translateY(-100px);
    color: aliceblue;
    cursor: pointer;
}

.Item-img {
    width: 200px;
    height: 200px;
}

.Item:hover .Item-img {
    opacity: 0.35;
    cursor: pointer;
}