.Item {
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 18px;
    margin-top: 18px;
    padding: 0;
    transition: all 0.2s ease-in;
    position: relative;
}

.Item:hover {
    background-color: rgba(255, 255, 255, 0.292);
    cursor: pointer;
}

.Item-img {
    content: attr(src);
    width: 0px;
    height: 0px;
    /*Bad Bad*/
}

.Item-text {
    margin-top: 170px;
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s;
    transform: translateY(0);
}

.Item:hover .Item-text {
    transform: translateY(-85px);
    cursor: pointer;
}